* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(images/620326e0c1060032490c9329c38c079f.jpg);
    background-repeat: none;
    background-position: center;
}
.heading {
    margin-top: 40px;
    margin-left: 50px;
    width: 300px;
    height: 150px;
}
h1 {
    color: white;
    margin-top: 70px;
    font-size: 30px;
    margin-left: 10px;
    align-content: space-between;
}
#btn {
    padding: 12px 35px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgb(223, 150, 53);
    cursor: pointer;
    border-radius: 12px;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 18px;
    transition: 0.3s;
}
#btn:hover {
    background-color: #1F1C18;
}
.navbar {
    background: #000000 #434343;
    text-align: end;
    padding-inline-end: 30px;
}
.navbar ul {
    display: inline-flex;
    list-style: none;
    cursor: pointer;
}
.navbar ul li {
    color: white;
    width: 120px;
    margin: 15px;
    padding: 10px;
    font-size: 18px;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
}
.navbar ul li:hover {
    background-color: #8E0E00 #1F1C18;
    transition: 0.3s ease ease-in;
    border-radius: 8px;
    text-align: center;
}
#menuitems {
    display: none;
    background-color: #190A05;
    width: 500px;
    height: 350px;
    margin-left: 50px;
    margin-top: 60px;
}
#menuitems.show {
    display: block;
}
h2 {
    margin-left: 150px;
    padding: 20px 35px;
    color: #fff;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
}
.card1 img, .card2 img, .card3 img {
    width: 130px;
    height: 170px;
}
p {
    color: #fff;
    font-size: 18px;
    margin-top: 5px;
}